<html>
<head>
    <title>
        end page
    </title>
    <style>
        h1{
            margin-top:100px;
            font-size:80px;
            color:deepskyblue;
        }
        p{
            margin-top:20px;
            font-size:40px;
            color:black;
        }
        input{
            border:1px solid deepskyblue;
            background:transparent;
            width:150px;
            height:40px;
        }
    </style>
</head>
<center><h1>SUCESFULLY PURCHASED</h1>
<P>with your reg form</P><br>
    <a href="{% url 'categories' %}"><input type="button" value="categories"></a></center>
</html>